
.chat
  h2
    background: #000
    color: #fff
    font-size: 17px
    height: 36px
    padding-top: 26px
    padding-left: 20px
    padding-right: 20px
    text-align: center
    .fa
      display: inline-block
      float: left

.date
  text-align: center
  color: #fff
  font-size: 12px
  margin: 24px 0
  span
    vertical-align: top
    font-weight: bold

.message-window
  height: 450px
  overflow-y: scroll
  position: relative

.message-feed
  position: relative
  bottom: 0
  height: auto

.message-sender
  height: 53px
  position: absolute
  bottom: 0
  width: 350px
  color: #fff
  background: #000
  .fa
    display: inline-block
    padding: 18px
  input
    border: none
    color: #fff
    background: #000
    width: 200px
    font-size: 15px
  button
    position: absolute
    border-radius: 50%
    width: 60px
    height: 60px
    padding: 22px
    border: none
    top: -30px
    right: 25px
    cursor: pointer
    background: #ffbdb8